table {
    font-size: 14px;
    border-spacing: 1px;
    text-align: center;

    th {
        background-color: #ddd;
    }

    th, td {
        border: thin solid #ddd;
        padding: 5px;

        .material-icons {
            font-size: 20px;
        }
    }
}

.fieldGroup {
    vertical-align: top;
    display: inline-block;
    border: none;
    text-align: center;
    width: calc((100% - 15px) / 2);
    box-sizing: border-box;
    margin: 0 5px 10px 0;
    
    label {
        display: block;
    }

    select {
        width: 100%;
        min-height: 100px;
        border: thin solid #ff9494;

        option {
            font-size: 15px;
            border: thin solid #faecec;
            padding: 5px;
            text-transform: capitalize;
        }
    }

    .selectedItem {
        display: inline-block;
        padding: 5px;
        font-size: 12px;
        line-height: 18px;
        background-color: #e0e0e0;
        border: thin solid #c7c6c6;
        color: #414141;
        border-radius: 20px;
        white-space: nowrap;
        margin: 2px;
        cursor: default;

        &.clearer {
            border: none;
            background-color: transparent;
            color: #8a1919;
            cursor: pointer;
        }

        span {
            font-size: 20px;
            line-height: 20px;
            vertical-align: middle;
            color: #8a1919;
            cursor: pointer;
        }
    }
}